<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>hello 1</h1>
    {% block body %}
    {% endblock %}
    <!-- build:remove -->
    <!-- Connect to server process -->
    <script>require('electron-connect').client.create()</script>
    <!-- end:build -->
    <script>
      // install babel hooks in the renderer process
      require('babel-register');
      require('./app');
    </script>
  </body>
</html>
